{% extends 'base.html.twig' %}
{% block title 'All programs' %}
{% block body %}
    <div class="container text-center mt-5">
        <h1>Toutes les séries de la table program</h1>
        <div class="col-4 my-3 mx-auto">
            {{ form_start(form, {'attr': {'class': 'd-flex'}}) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary ms-2">Rechercher</button>
            {{ form_end(form) }}
        </div>
        <p><a href="{{ path("program_new") }}">Ajouter une nouvelle série</a></p>
        <div class="row">
            {% for program in programs %}
                <div class="card col-3 p-4 mx-2">
                    {% if  program.poster %}
                        <img src="{{ program.poster }}" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body border-1">
                        <h5 class="card-title">{{ program.title }}</h5>
                        <p class="card-text">Catégorie: {{ program.category.name }}</p>
                        <p class="card-text">{{ program.summary|u.truncate(25, '...') }}</p>
                        <a href="{{ path("program_show", {slug: program.slug}) }}">Voir la fiche</a>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('program_delete', {program: program.id}) }}" class="btn btn-primary">Supprimer</a>
                    {% endif %}
                </div>
            {% else %}
                Aucune série trouvée.
            {% endfor %}
        </div>
    </div>
{% endblock %}