{% extends 'base.html.twig' %}
{% block body %}
    <div class="container text-center">
        <div class="media">
            <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
            <div class="media-body">
                <h1 class="mt-0">{{ program.title }}</h1>
                <p>{{ program.summary }}</p>
                <p>Catégorie : {{ program.category.name }}</p>
            </div>
        </div>
        <div class="list-group col-3 mx-auto mb-5">
            <h3 class="text-center my-3">Liste des saisons</h3>
            {% for season in seasons %}
                <a href="{{ path("program_season_show", {slug: program.slug, seasonNumber: season.number}) }}" class="list-group-item list-group-item-action">Saison n°{{ season.number }}</a>
            {% endfor %}
        </div>
        <div class="list-group col-3 mx-auto mb-5">
            <h3 class="text-center my-3">Liste des acteurs</h3>
            {% for actor in program.actors %}
                <a href="{{ path("actor_show", {actor: actor.id}) }}" class="list-group-item list-group-item-action">{{ actor.name }}</a>
            {% endfor %}
        </div>
        <a href="{{ path('program_index') }}">
            Retour à la liste des programmes
        </a>
    </div>
{% endblock %}